.project {
  border-radius: 5px;
  background-color: #cabebe;
  margin-bottom: 15px
}

.logo{
  width: 80%;
  margin: 10%;
  background-color: white;
  border-radius: 5px;
}

.fa-caret-down{
  color: #1d2f35;
  margin-top: -10px;
  margin-bottom: -10px
}

.card-body{
  color: #1d2f35;
  background-color: #cabebe;
}